[Unit]
Description=uWSGI instance to serve the ARM Data Browser
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Research/arm-data-browser
Environment="PATH=/home/ubuntu/anaconda3/envs/arm-data-browser/bin"
ExecStart=/home/ubuntu/anaconda3/envs/arm-data-browser/bin/uwsgi --ini arm_application.ini

[Install]
WantedBy=multi-user.target
