{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h1>{{site | upper}} Data Browser</h1>
  </div>
</div>

<div class="row" id="submit-date">
  <div class="col-xs-12">
    <form class="form-inline text-center" action="{{ url_for('site', site_id=site) }}" id="ena-figures" method="post" name="ena-figures">
      <div class="form-group">
        <input class="form-control" name="date" type="date" value="{{ date|default('2015-08-19') }}">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12">
    <!- - <a href="http://atmos.uw.edu/~jstemm/ena-figures/data_availability.png" class="image-link data-availability" data-lightbox="availability"> - ->
      <img class="img-responsive" src="http://atmos.uw.edu/~jstemm/ena-figures/data_availability.png">
    <!- - </a> - ->
  </div>
</div> -->

{% endblock %}
